<!DOCTYPE html>
<html>
	<head>
		<title>Relief Squad</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="container">

		<%= render "layouts/navbar" %>
		<p class="alert-success"><%= notice %></p>
       	<p class="alert-error"><%= alert %></p>
		<%= yield %>
		<%= render "layouts/footer" %>
		
	</body>
</html>
